<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Application{% endblock %}</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<header class="nav-bar">
    <h1 class="sitename">My<br>Gift<br>Box<img src="/img-css/giftbox-logo.svg"></h1>
    <nav class="navigation">
        <a href="/">Home</a>
        <a href="{{ url_for('categories_list', {},) }}">Catalog</a>
        <a href="{{ url_for('box_predefined', {}, {}) }}">Our Products</a>
          {% if userIsLoggedIn is defined and userIsLoggedIn %}<a href="{{ url_for('box_creation', {},) }}">My boxes</a> {% endif %}
    </nav>
    <div class="account">
        <img class="account-img" src="/img-css/account.svg">
        <div>
            <a href="#" class="account-link"> {% if userIsLoggedIn is defined and userIsLoggedIn %}{{user}}{% else %}Account{% endif %}</a>
            <div class="account-options">
                {% if userIsLoggedIn is defined and userIsLoggedIn %}
                    <a href="{{ url_for('get_payment', {},) }}">Shopping Cart</a>
                    <a href="{{ url_for('account_logout', {},) }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('account_login', {},) }}">Login</a>
                    <a href="{{ url_for('account_register', {},) }}">Register</a>
                {% endif %}


            </div>
        </div>
    </div>
</header>

{% block content %}{% endblock %}

<footer>
    <p>&copy; Nino Arcelin / Lina Teras / Dimitri Walczak-Vela-Mena</p>
    <p>RA-DWM 2023-2024</p>
</footer>

</body>
</html>