{% extends 'base.html.twig' %}

{% block title %}Détails de la Catégorie{% endblock %}

{% block content %}
    <h2>{{ categorie.libelle }}</h2>
    <p>{{ categorie.description }}</p>

    <h3>Prestations</h3>
    <ul>
        {% for prestation in prestations %}
            <li>
                <a href="{{ url_for('prestation', {}, { 'id': prestation.id }) }}">{{prestation.libelle}}</a><br>
                
            </li>
        {% endfor %}

    </ul>

            <a href="{{ url_for('categories_list', {}, {}) }}">Retour à Liste des catégories</a>

{% endblock %}
